{% extends 'base.html' %}

<!-- Home page title-->
{% block title %} Add A Pet
<!-- title-->
{% endblock %}

<!-- Body content-->
{% block content %}
<ul>
  <li>{{pet.name}}</li>
  <li><img src="{{pet.photo_url}}" alt="No picture" /></li>
  <li>{{pet.age}}</li>
  <li>{{pet.notes}}</li>
  <li>{{pet.species}}</li>
</ul>

<form action="/{{pet.id}}" method="POST">
  {{ form.hidden_tag() }}
  <!-- add type = hidden form fields-->

  {% for field in form if field.widget.input_type != 'hidden' %}

  <!--OR field. IN
  ('photo_url', 'notes', 'available'-->
  <p>
    {{field.label}} {{ field }} 
    {% for error in field.errors %}
        {{error}} 
    {% endfor %}
  </p>
  {% endfor %}
  <button type="submit">EDIT</button>
</form>




{% endblock %}
